<!doctype html>
<html>

<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="./index.css">
</head>


<body>
    <div className="login-page">
        <h1 className="heading">Love Beers</h1>
        <div className="login-form">
            <h1>Sign in</h1>
            <div className="links">
                <a href="/auth/facebook" className="img-size btn btn-primary">
                <span className="fab fa-facebook-f"></span> Facebook</a>
                <a className="link-flex" href="https://slack.com/oauth/authorize?scope=identity.basic&client_id=389752861761.411618303955">
                    <img className="img-size" alt="Sign in with Slack" src="https://platform.slack-edge.com/img/sign_in_with_slack.png"
                        srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x"
                    />
                </a>
                <a href="/beers">
                <span>Beers</span>
                </a>
            </div>
        </div>
    </div>
</body>

</html>