
.login-page {
    margin: 0 auto;
    background: url('https://images.pexels.com/photos/991970/pexels-photo-991970.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260') no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.heading {
    padding: 30px;
    margin-bottom: 40px;
    color: #FFF;
    background-color: #D2B071;
    font-size: 80px;
    text-transform: uppercase;
    border-radius: 8px;
}
.login-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 550px;
    border: 2px solid #301B19;
    border-radius: 8px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.8);
}
.login-form h1 {
    padding: 20px;
    color: #FFF;
    background-color: #D2B071;
    border-radius: 8px;
}
.links {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 120px;
}
.img-size {
    height: 50px;
    width: 180px;
}